/* 공통 css */
@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, button, form, input, textarea, hr, address, b, strong, a, th {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #000;
    box-sizing: border-box;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

* {
  font-size: 18px;
  font-family: 'GmarketSansMedium';
}

/* 폰트 설정 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#wrapper{
  width: 90vw;
  margin: 80px auto;
}

/* 상세보기 페이지 제목 css */
#wrapper > .page-title-wrap{
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#wrapper .page-title-wrap > h1{
  font-size: 30px;
}

/* 목록 보기 button css */
.list-btn-wrap{
  width: 90%;
  text-align: right;
  margin-bottom: 50px;
}

.list-btn-wrap button{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #014772ab;
  color: #fff;
  transition: 0.3s;
}

.list-btn-wrap button:hover{
  background-color: #014772;
}

/* 게시글 상세보기 폼 css */
/* 공통 css */
.board-form{
  width: 90%;
  margin: 0 auto;
}

.board-form > div{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.board-form > div > h1{
  width: 100px;
  vertical-align: middle;
}

.board-form > div > input{
  width: 80%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: 0.3s;
}

.board-form > div > input:hover{
  border-bottom: 2px solid #00B455;
}

.board-form > div > textarea:hover{
  border-top: 2px solid #00B455;
  border-bottom: 2px solid #00B455;
}

/* 게시글 내용 css */
.post-content-wrap > textarea{
  resize: none;
  width: 80%;
  height: 300px;
  border: none;
  outline: none;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: 0.3s;
  padding: 20px;
}

/* 기본 스크롤바 css 제거 */
.post-content-wrap > textarea::-webkit-scrollbar{
  display: none;
}

/* 게시글 첨부파일 관련 css */
.post-files-wrap > .file-area{
  width: 50%;
  height: 100px;
  border: 2px solid #ccc;
  overflow-y: scroll;
  transition: 0.3s;
}

.post-files-wrap > .file-area:hover{
  border: 2px solid #00b454;
}

/* 기본 스크롤바 css 제거 */
.post-files-wrap > .file-area::-webkit-scrollbar{
  display: none;
}

/* 게시글 수정, 삭제 버튼 css */
.post-btn-wrap{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
}

.post-btn-wrap > a{
  text-align: center;
  width: 50%;
}

.post-btn-wrap button{
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  transition: 0.3s;
}

.post-btn-wrap > a:first-child > button{
  background-color: #00b45499;
}

.post-btn-wrap > a:last-child > button{
  background-color: #f932718f;
}

.post-btn-wrap > a:first-child > button:hover{
  background-color: #00b454;
}

.post-btn-wrap > a:last-child > button:hover{
  background-color: #f93271;
}

/* 게시글 댓글 영역 css */
#comment-write-area{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

#comment-write-area > div{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* 댓글 작성 영역 css */
#comment-write-area > div > label{
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  font-size: 24px;
}

#comment-write-area > div > textarea{
  width: 90%;
  height: 100px;
  margin: 0 auto;
  resize: none;
  margin-top: 20px;
  padding: 20px;
}

/* 댓글 작성 button css */
#comment-write-area > button{
  align-self: flex-end;
  background-color: #00b45488;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 60px;
  transition: 0.3s;
}

#comment-write-area > button:hover{
  background-color: #00b454;

}

/* 댓글 리스트 영역 css */
.comment-list-area{
  /* margin: 0 auto; */
  width: 90%;
  /* height: 300px; */
  margin-top: 50px;
  /* border: 3px solid #00b454; */
}

/* 댓글 리스트 제목 css */
.board-form > .comment-list-area > h1{  
  font-size: 24px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/* 댓글 리스트 layout css */
.board-form > .comment-list-area{
  flex-direction: column;
  width: 100%;
  /* display : flex; 는 위에서 이미 적용됨. */
}

.comment-list{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 0 20px;
}

.comment-list > li{
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  transition: 0.3s;
}

.comment-list > li:hover{
  border: 2px solid #00b454;
}

/* 댓글 목록 내 textarea css(수정 가능) */
.comment-list > li > textarea{
  width: 80%;
  height: 100px;
  resize: none;
  outline: none;
}

/* 댓글 목록 내 button css */
.comment-list button{
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 16px;
}

.comment-list > li > a:nth-child(2) > button{
  background-color: #029a49;
}

.comment-list > li > a:nth-child(3) > button{
  background-color: #f93271;
}

/* 댓글 목록 버튼 position css */
.comment-list > li > a{
  position: absolute;
  bottom: 10px;
}

.comment-list > li > a:nth-child(2){
  right: 100px;
}

.comment-list > li > a:nth-child(3){
  right: 20px;
}








