@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,button,form,input,textarea,hr,address,b,strong,a,th
{margin: 0; padding: 0; list-style: none; text-decoration: none; font-style: normal; font-weight: normal; color: #000; box-sizing: border-box;}
button{cursor: pointer; background: none; border: 0;}

*{font-size: 18px; font-family: 'GmarketSansMedium'; }

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

#container{padding-top: 100px;}

/* community */
.community{width: 1400px; margin: 0 auto;}
h2{font-size: 35px; text-align: center; margin: 100px 0 50px 0;}
.community>p{font-size: 20px; text-align: center; line-height: 150%; color: rgba(0, 0, 0, 0.7); margin-bottom: 100px;}

/* 검색 */
.community_search{display: flex; margin-bottom: 30px; justify-content: space-between;}
.community_search>p{font-size: 25px; color: #626262;}
.community_search>p span{font-size: 25px; font-family: 'GmarketSansBold'; color: #E41F26;}

.community_search>div{display: flex;}
.community_search select{width: 100px; height: 35PX; text-align: left; padding-left: 5px; border: 0; border-bottom: 2px solid #000000; color: #626262; font-size: 20PX; font-family: 'GmarketSansBold'; outline: none;}
.community_search>div form{width: 430px; height: 35px; border-bottom: 2px solid; margin-left: 30px;}
.community_search>div form input:nth-child(1){width: 90%; border: 0; outline: none;}

/* 게시글 리스트 */
.community table{width: 100%; margin-bottom: 100px; border-collapse: collapse;}
.community table tr{height: 80px; border-top: 2px solid #D6D6D6;}
.community table tr td:not(:nth-child(2)){text-align: center;}
.community table tr td b{font-family: 'GmarketSansBold';}
.community table tr td:nth-of-type(2){color: #626262;}
.community table tr td:nth-of-type(3) a{display: block; width: 100%; height: 80px; line-height: 80px; color: #048D3B; font-family: 'GmarketSansBold'; background: url(../images/comu_more.png)no-repeat right 20px top 35px;}
.community table tr td:nth-of-type(3) a::after{content: ''; display: block; position: absolute; margin: -20px 0 0 32px; width: 70px; border-bottom: 2px solid #D7D7D7;}
.community table tr td:nth-of-type(4){color: #CDCDCD;}

/* 페이지 버튼 */
.community_btn{width: 300px; height: 40px; margin: 0 auto 200px auto; display: flex;}
.community_btn img{width: 40px;}
.community_btn ul{display: flex; margin: 0 20px;}
.community_btn ul li{ line-height: 33px; margin: 0 20px;}
.community_btn ul button{display: block;  font-size: 25px; width: 25px; height: 40px; color: #C6C6C6;}
.community_btn ul li:nth-child(1) button{color: #048D3B; border-bottom: 3px solid;}
