/*페이지의 큰 틀*/
h2 {
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
}

.resetPasswordpage {
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px; 
}



/*경고문구*/
.error-icon {
    margin-right: 5px;
    vertical-align: middle;
    height: 1em;
    width: auto;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: left;
    display: none;
    align-items: center;
}

/*placeholder 박스*/
input[type="text"], input[type="email"], input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px 10px; 
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #555;
}


/*버튼 디자인*/
.buttonCss {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
    width: 100%;
}

.reset-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: black; 
    color: white; 
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    align-self: center;
    width: 100%;

}

/*이메일 인증번호 받기*/
.emailverify-button {
    padding: 10px 15px;
    width : 32vh;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
    width: 100%; 
  }

/*인증번호 재전송, 인증번호 확인*/
.reverify-button,
.confirmverify-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  flex-basis: 49%;
}

.password-icon {
    cursor: pointer;
    height: 1.5em;
    position: absolute;
    right: 10px; 
    top: 30%;
}

/*패스워드 입력, 확인*/
.passwordField {
    position: relative;
    margin-bottom: 25px; 
    width: 100%; 
}


/*마지막 초기화 부분*/
.reset-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reset-button {
    width: 100%; 
    margin: 20px 0; 
}

