h3 {
  margin-bottom: 20%;
  font-weight: lighter;
}

body {
  font-family: 'Arial', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 65vh;
  background: #fff;
  padding: 20px;
  text-align: center;
}
.password-icon {
  position: absolute;
  cursor: pointer;
  height: 2em;
  width: auto;
}
.password-icon.visible {
  right: 0em;
}
.password-icon.hide {
  right: -3em;
}
.password-CSS input[type="password"] {
  padding-right: 5em;
}
.error-icon {
  vertical-align: middle;
  height: 1em;
  width: auto;
}

.formCss {
  position: relative;
  margin-bottom: 20px;
}
.formCss input[type="email"],
.formCss input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  box-sizing: border-box;
}
.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 20px;
  text-align: left;
}

.underline{
  text-decoration: underline;
  margin-bottom: 50px;
  cursor: pointer;
}
.buttonCss {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formCss input[type="submit"],
.formCss input[type="button"] {
  width: 100%;
  padding: 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
}

.simple-login {
  font-size: 1em;
  margin-bottom: 20px;
}
.social-login {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.social-box {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  line-height: 30px;
  text-align: center;
  background: none;
}
.social-box img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
