/* 각 div마다 틈을 주는 css */
.mb-3{
    text-align: left;
    column-gap: 15px;
    margin-bottom: 1em;
}

.regist-btn{
    background-color:  #02bc20;
}
.close-btn{
    background-color:  #f93270;
}

/* 비밀번호 모달창 */
.modal-pwd{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background-color: rgba(0,0,0,0.4);
}

/* 전체를 잡아주는 css */
.pwd-body{
    position:absolute;
    box-sizing: border-box;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding: 30px;

    top: 50%;
    text-align: center;

    background-color: rgb(255,255,255); 
    border-radius:10px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);

    width: 500px;
    height: 570px;
    margin-top: -275px;
}