/* 각 div마다 틈을 주는 css */
.mb-3{
    text-align: left;
    column-gap: 15px;
    margin-bottom: 1em;
}

.regist-btn{
    background-color: #00568b;
}

.close-btn{
    background-color: rgba(242, 63, 63, 0.809);
}