/* 각 div마다 틈을 주는 css */
.mb-3{
    text-align: left;
    column-gap: 15px;
    margin-bottom: 1em;
}

.regist-btn{
    background-color:  #02bc20;
}

.close-btn{
    background-color: #f93270;
}

.profile-body{
    width: 500px;
    height: 550px;
}

/* 모달 위치 한번 더 잡아줌 */
.modal-body{
    margin-top: -275px;
}